.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid #e5e7eb;
}

.navbar-container {
  max-width: 1275px;
  margin: 0 auto;

  height: 72px;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 1.2rem;
  font-weight: 700;
  color: #111827;
}

.logo-icon {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;

  background: #2563eb;
  color: white;

  font-weight: 700;
  font-size: 18px;
}

.navbar-links {
  display: flex;
  gap: 32px;
}

.navbar-links a {
  text-decoration: none;

  color: #4b5563;

  font-size: 15px;
  font-weight: 500;

  transition: all 0.2s ease;
}

.navbar-links a:hover {
  color: #2563eb;
}

.navbar-login-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-login-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.2);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-container {
    padding: 0 20px;
  }

  .navbar-logo span {
    font-size: 1rem;
  }

  .navbar-login-btn {
  padding: 10px 18px;
}
}