/* EDIT BUTTON */
.edit-btn {
  padding: 6px 12px;
  background: #1d4ed8;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  background: #1e40af;
}

/* DELETE BUTTON */
.delete-btn {
  padding: 6px 12px;
  background: #dc2626;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #991b1b;
}

.add-btn {
  padding: 8px 14px;
  background: #047857; /* darker green */
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #065f46;
}

.update-btn {
  padding: 8px 14px;
  background: #b45309; /* darker amber */
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.update-btn:hover {
  background: #92400e;
}



.class-input {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  margin-right: 10px;
  transition: 0.2s;
}

.class-input:focus {
  border-color: #2f80ed;
  box-shadow: 0 0 0 3px rgba(47, 128, 237, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid #d1d5db;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background: #f3f4f6;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active-page {
  background: #2563eb !important;
  color: white;
  border-color: #2563eb !important;
}